/* 기본 버튼 스타일 */
.Button {
  background-color: rgb(245, 222, 179); /* 따뜻한 크림색 배경 */
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  white-space: nowrap; /* 버튼 안 텍스트 줄바꿈 방지 */
  transition: background-color 0.3s, transform 0.2s;
}

/* 버튼 호버 시 부드러운 효과 */
.Button:hover {
  background-color: rgb(255, 239, 213); /* 밝은 따뜻한 색으로 변경 */
  transform: translateY(-2px); /* 버튼이 살짝 떠오르는 효과 */
}

/* 긍정적인 버튼 스타일 */
.Button_POSITIVE {
  background-color: rgb(255, 182, 77); /* 따뜻한 오렌지 색 */
  color: white;
}

.Button_POSITIVE:hover {
  background-color: rgb(255, 153, 51); /* 더 진한 따뜻한 오렌지 색 */
}

/* 부정적인 버튼 스타일 */
.Button_NEGATIVE {
  background-color: rgb(239, 96, 96); /* 부드러운 레드 */
  color: white;
}

.Button_NEGATIVE:hover {
  background-color: rgb(219, 65, 65); /* 더 따뜻한 진한 레드 */
}
